* {
    font-family: 'Poppins', sans-serif;
    color: #233A25;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 18px 0 0 2.5rem;
    align-items: center;
    justify-content: center;
}

.logo h2{
    color: white;
    font-size: 20px;
}

#pic-logo {
    width: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 18px 2.5rem 0 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    transition: all 0.5s ease-in-out;
    border-radius: 999px;
}

nav ul li a:hover {
    background-color: white;
    color: #233A25;
}
nav ul li a.active {
    background-color: white;
    color: #233A25;
}


.hero {
    position: relative;
    width: 95%;
    height: auto;
    min-height: 400px;
    min-height: 15.7cm;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    margin: 20px 0 0 35px ;
    align-items: center;
    background-image: url('../img/landscape.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.content {
    max-width: 700px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin: 0 0 5px 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px #333333;
}

.content h2 {
    font-size: 1.2rem;
    margin:  0 0 0 1.5rem;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px #707070;
}

/* 
.weather-widget {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 10px;
    align-items: center;
    max-width: 400px;
    margin-top: 20px;
    margin-left: 1.5rem;
}

.weather-content {
    display: flex;
    flex-direction: column;
}

.weather-widget img {
    width: 17%;
    margin-right: 10px;
}

.weather-widget .temp {
    font-size: 1rem;
    font-weight: 600;
    color: #233A25;
}

.weather-widget .location {
    font-size: 1rem;
    color: #233A25;
} */

.ic, .dic {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    width: 95%;
    height: auto;
    min-height: 16cm;
}

.ic-desc {
    display: grid;
    margin-left: 2rem;
}

.ic h1, .dic h1 {
    font-size: 3rem;
    text-align: left;
}

.pic h1 {
    margin: 6rem 0 -40px 0;
    font-size: 3.3rem;
    text-align: left;
    margin-bottom: 10px;
}

.ic h3, .pic h3, .dic h3 {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 0;
}

.ic img, .dic img {
    width: 500px;
    max-width: 90%;
    height: auto;
    float: right;
    padding: 0;
    margin-left: -50px;
}

.pic {
    text-align: center;
    display: flex;
    max-width: 98%;
    width: 98%;
    flex-direction: row-reverse;
    padding: 0 0 2rem 6rem;
    height: auto;
    margin-top: 2rem;
    min-height: 16cm;
}

.pic img {
    width: 350px;
    max-width: 90%;
    float: left;
    padding: 0;
    margin: 0 -25px 0 25px;
}

.pic-desc, .dic-desc {
    display: grid;
    float: right;
    padding-right: 5.5rem;
    margin-bottom: 5rem;
}

.tips {
    height: 13cm;
}

.tips h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
}

.box-container-tips {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.box-container-p {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.box-container-d {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
  
.box{
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 5px;
    margin-top: 2rem;
}

.box-p {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
}

.box-d {
    padding: 10px;
    max-width: 120px;
}

.box-tips{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.box:hover {
    transform: scale(1.1);
}
  
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

.modal-text {
    padding: 0 10px;
    font-size: smaller;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.modal-content img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
}

.dic {
    text-align: center;
    display: flex;
    max-width: 98%;
    width: 98%;
    padding: 0 0 2rem 6rem;
    height: auto;
    margin-top: 2rem;
    min-height: 16cm;
}

.grafik {
    text-align: center;
    max-width: 98%;
    width: 98%;
    height: auto;
    margin-top: 2rem;
    min-height: 16cm;
}

.grafik h1 {
    font-size: 3rem;
    margin: 2rem 0;
}

.grafik img {
    width: 95%;
    height: auto;
}

/* .carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.carousel img {
    width: 80%;
    height: auto;
    flex: 1;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
} */

footer:not(#footer-cc){
    background-color: white;
    border-top: 1px solid rgb(148, 148, 148);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    gap: 57rem;
    margin: 3rem 0 0 0;
}
/*mengecualikan footer calculator*/

#footer-cc{
    border-top: 1px solid rgb(148, 148, 148);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    gap: 57rem;
    margin: 3rem 0 0 0;
}

footer p {
    font-weight: 500;
    margin: 5px 0 0 0;
}
/* 
.weather-dashboard {
    display: flex;
    width: 98%;
    max-width: 1200px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    margin: 6.5rem 0 0 1rem;
}

.sidebar {
    width: 30%;
    background-color: #f4f6f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e0e0e0;
}

.search-bar {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.current-weather {
    text-align: center;
}

.weather-icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

.date-time, .description, .rain-chance {
    color: #555;
    margin: 5px 0;
}

.location {
    display: grid;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.location-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin: 0 0 1rem 4.5rem;
}

.main-content {
    width: 70%;
    padding: 20px;
}

.weekly-forecast {
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 10px;
}

.tab {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #777;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s;
}

.tab.active {
    color: #333;
    border-color: #333;
}

.forecast-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.forecast-card {
    width: 100px;
    text-align: center;
    background: #f4f6f8;
    padding: 15px;
    border-radius: 10px;
}

.forecast-icon {
    font-size: 30px;
    margin: 10px 0;
}

.highlights h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.highlight-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.highlight-card {
    background: #f4f6f8;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.highlight-value {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
} */
.container-cc {
    width: 500px;
    padding: 2rem;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    height: 13.5cm;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-cch {
    width: 500px;
    min-height: 13.5cm;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 0 10px 10px 0;
}

.result-container {
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

input[type="number"]::placeholder {
    color: #999;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-secondary {
    background-color: #7b9c5d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #42592c;
}

.bg-success {
    background-color: #aacf87 !important;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}
 h5 {
    margin-top: 10px;
 }

 h2{
    margin: 0 0 5px 0;
    font-size: 1rem;
}

h1{
    margin: 20px 0 0 0;
 }
  
@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin: 10px 0;
    }

    nav ul {
        align-items: flex-start;
        margin: 0;
        width: fit-content;
    }

    nav ul li {
        size: 10%;
        margin: 5px 0;
    }

    .hero {
        margin: 10px;
        padding: 10px;
        min-height: 300px;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content h3 {
        font-size: 1.2rem;
    }

    .ic, .dic, .pic {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        justify-content: center;
    }

    .ic, .dic {
        margin-left: 0rem;
    }

    .ic img, .dic img, .pic img {
        width: 100%;
        max-width: 300px; /* Adjust max width for smaller screens */
        margin: 0;
    }

    .ic-desc, .dic-desc, .pic-desc {
        text-align: center;
    }

    .box-container-p, .box-container-d {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box-d{
        width: 125px;
        height: 125px;
        margin: 5px 0;
        font-size: 1 rem;
        overflow: hidden;
    }

    .box-p{
        width: 125px;
        height: 200px;
        margin: 5px 0;
        font-size: 1 rem;
        overflow: hidden;
    }

    .tips h1 {
        font-size: 2rem;
    }

    .grafik img {
        width: 100%;
        max-width: 500px; /* Adjust max width for smaller screens */
    }

    footer {
        text-align: center;
        padding: 10px;
    }

    .modal{
        width: 100%;
    }

    .modal-content{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 2rem;
    }

    .content h3 {
        font-size: 1rem;
    }

    .modal-title {
        font-size: 20px;
    }

    .modal-text {
        font-size: smaller;
    }

    .close-btn {
        font-size: 24px;
    }

    .hero {
        min-height: 200px;
    }
}